RewriteEngine On

# ------------- Route Users -------------
RewriteRule user/([0-9]+)$ user.php?id_user=$1 [L]
RewriteRule user$ user.php [L]

# ------------- Route Tickets -------------
RewriteRule ticket/([0-9]+)$ ticket.php?id_ticket=$1 [L]
RewriteRule ticket$ ticket.php [L]